fastapi==0.115.6
folioprompts==0.2.0
groq==0.19.0
Jinja2==3.1.6
numpy==1.26.3
openai==0.27.10
protobuf==5.29.3
psycopg2-binary==2.9.10
pydantic==2.10.4
pymongo==4.10.1
python-decouple==3.8
python-dotenv==1.0.0
sentence-transformers==3.4.1
google-ai-generativelanguage==0.6.15
google-api-core==2.24.2
google-api-python-client==2.164.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-genai==1.5.0
google-generativeai==0.8.4
googleapis-common-protos==1.69.1
typer
uvicorn
bcrypt
python-multipart
email-validator
passlib
PyJWT
pytest
pytest-asyncio
httpx
pandas